.main-wrapper {
	margin: auto;
	height: 100%;
	width: 100%;
	
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

#introButton {
	background-color: rgba(0, 0, 0, .2);
	color: white;
	border: none;
	border-radius: 5px;
	width: 50vw;
	height: 10vh;
	font-size: 130%;
	animation: slidein 3s linear 1s infinite running;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px
		0 #000;
}

#introButton:hover {
	background-color: rgba(220, 220, 220, .5);
	transition-duration: 1s;
}

.forms {
	display: flex;
	align-items: center;
	justify-content: center;
}